body{
    background-color:rgba(84,84,94,255);
    text-align:center;
    align-items:center;
    color:white;
  }
  h1{
    margin-top:5%;
    font-size:4rem;
    font-family: 'Lilita One', sans-serif;
  }
  @keyframes imageShake{
    60%{transform:rotateZ(15deg)}
    40%{transform:rotateZ(-15deg)}
  }
  @keyframes expand{
    50%{transform:scale(1.5,1.5)}
  }
  
  .presentImg{
    width:10em;
    height:auto;
    transition:0.2s;
    margin-top:4%;
    
  }
  .presentImg:hover{
    transform:translateY(-5px);
    cursor:pointer;
    transition:0.2s;
    
  }
  .duckPrize{
    width:12em;
    height:auto;
    
  }
  .hint{
    font-size:1.8em;
    padding-top:3%;
    color:white;
    transition: 0.2s;
    font-family:'Signika Negative', sans-serif;
  }
  .hint:hover{
    color:goldenrod;
    transition: 0.2s;
    cursor: pointer;
  }
  .count{
    color:yellow;
  }
  
  .presentShake{
    animation-name:imageShake;
    animation-duration:1.5s;
  }
  .presentExpand{
     animation-name:expand;
    animation-duration:1.5s;
  }
  
  .presentSlide{
    display:none;
  }
  .hide{
    display:none;
  }
  .finalColor{
    background-color:rgba(218,64,71,0.8);
  }
  
  .box{
    width:60rem;
    height:20rem;
    background-color:rgba(230,202,153,255);
    margin:0 auto;
    border:1.5rem solid white;
  }

  .restart{
    width:10rem;
    height:auto;
    font-size:5rem;
    padding-top:8%;
    color:black;
    transition: 0.2s;
  }
  .restart:hover{
    color:whitesmoke;
    transform: translateY(-5px);
    transition: 0.2s;
    cursor:pointer;
  }